@import "../../assets/styles/app";

.signin-section {
  margin-top: 120px;
  padding: 10px;
  border: 1px solid #efefef;
  background-color: white;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  @include box-shadow-prefix(0 0 6px rgba(0, 0, 0, 0.2));
  @include border-radius-prefix(4px);
}

.signin-section__header {
  font-family: 'Macondo', cursive;
  font-weight: bolder;
  margin: 20px 0 20px 0;
  text-align: center;
}

.signin-section_input > * {
  margin: auto;
  display: block;
}

.signin-section--failed {
  color: red;
  font-weight: bolder;
  text-align: center;
}

