.idea
wae-thesis.iml

wae-thesis-application/target
wae-thesis-application/wae-thesis-application.iml

wae-thesis-core/target
wae-thesis-core/wae-thesis-core.iml

wae-thesis-model-api/target
wae-thesis-model-api/wae-thesis-model-api.iml

wae-thesis-ui/target
wae-thesis-ui/node_modules
wae-thesis-ui/dist
wae-thesis-ui/wae-thesis-ui.iml
wae-thesis-ui/npm
wae-thesis-ui/npm-debug.log

wae-thesis-services/target
wae-thesis-services/wae-thesis-services.iml

wae-thesis-services/service-models/target
wae-thesis-services/service-models/service-models.iml

wae-thesis-services/service-products/target
wae-thesis-services/service-products/service-products.iml

wae-thesis-services/service-users/target
wae-thesis-services/service-users/service-users.iml

wae-thesis-services/service-suppliers/target
wae-thesis-services/service-suppliers/service-suppliers.iml
