@import "../../assets/styles/app";

.home-section {
  height: auto;

  > * {
    @extend %display-flex;
  }
}

.home-section--upper {
  background-color: rgb(37, 47, 62);
  height: 100px;
  padding-top: 60px;
  @include flex-flow-prefix(row nowrap);
}

.home__drop-down-list {
  @extend %drop-down-list;
  margin: 7px 0 0 10px;

  .dd-list__title {
    background-color: rgb(37, 47, 62);
  }

  .dd-list__content {
    top: 24px;
    min-width: 220px;
    width: auto;
    height: auto;

    > * {
      padding: 10px
    }
  }
}

.supplier__drop-down-list {
  @extend .home__drop-down-list;
  margin-left: 0;
  padding-right: 10px;

  .dd-list__content {
    width: 160px;

    > *:hover {
      font-weight: bold;
      color: #ff6a00;
      -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.help__drop-down-list {
  @extend .supplier__drop-down-list;
}

.link-helper--default {
  @extend %link;
  display: block;
  color: #dadae5;
  font-size: 13px;
  margin-top: 4px;

  &:hover {
    color: white;
    border-bottom: 1px solid white;
  }
}